package views

templ siteIcons(basePath string) {
	<link rel="manifest" href={ siteURL(basePath, "/manifest.json") }/>
	<link rel="icon" type="image/png" sizes="16x16" media="(prefers-color-scheme: dark)" data-theme-icon="dark" href={ siteURL(basePath, "/favicon/dark/favicon-16x16.png") }/>
	<link rel="icon" type="image/png" sizes="16x16" media="(prefers-color-scheme: light)" data-theme-icon="light" href={ siteURL(basePath, "/favicon/favicon-16x16.png") }/>
	<link rel="icon" type="image/png" sizes="32x32" media="(prefers-color-scheme: dark)" data-theme-icon="dark" href={ siteURL(basePath, "/favicon/dark/favicon-32x32.png") }/>
	<link rel="icon" type="image/png" sizes="32x32" media="(prefers-color-scheme: light)" data-theme-icon="light" href={ siteURL(basePath, "/favicon/favicon-32x32.png") }/>
	<link rel="icon" type="image/png" sizes="96x96" media="(prefers-color-scheme: dark)" data-theme-icon="dark" href={ siteURL(basePath, "/favicon/dark/favicon-96x96.png") }/>
	<link rel="icon" type="image/png" sizes="96x96" media="(prefers-color-scheme: light)" data-theme-icon="light" href={ siteURL(basePath, "/favicon/favicon-96x96.png") }/>
	<link rel="icon" type="image/png" sizes="128x128" media="(prefers-color-scheme: dark)" data-theme-icon="dark" href={ siteURL(basePath, "/favicon/dark/favicon-128x128.png") }/>
	<link rel="icon" type="image/png" sizes="128x128" media="(prefers-color-scheme: light)" data-theme-icon="light" href={ siteURL(basePath, "/favicon/favicon-128x128.png") }/>
	<link rel="icon" type="image/png" sizes="196x196" media="(prefers-color-scheme: dark)" data-theme-icon="dark" href={ siteURL(basePath, "/favicon/dark/favicon-196x196.png") }/>
	<link rel="icon" type="image/png" sizes="196x196" media="(prefers-color-scheme: light)" data-theme-icon="light" href={ siteURL(basePath, "/favicon/favicon-196x196.png") }/>
	<link rel="apple-touch-icon" sizes="57x57" href={ siteURL(basePath, "/favicon/apple-touch-icon-57x57.png") }/>
	<link rel="apple-touch-icon" sizes="60x60" href={ siteURL(basePath, "/favicon/apple-touch-icon-60x60.png") }/>
	<link rel="apple-touch-icon" sizes="72x72" href={ siteURL(basePath, "/favicon/apple-touch-icon-72x72.png") }/>
	<link rel="apple-touch-icon" sizes="76x76" href={ siteURL(basePath, "/favicon/apple-touch-icon-76x76.png") }/>
	<link rel="apple-touch-icon" sizes="114x114" href={ siteURL(basePath, "/favicon/apple-touch-icon-114x114.png") }/>
	<link rel="apple-touch-icon" sizes="120x120" href={ siteURL(basePath, "/favicon/apple-touch-icon-120x120.png") }/>
	<link rel="apple-touch-icon" sizes="144x144" href={ siteURL(basePath, "/favicon/apple-touch-icon-144x144.png") }/>
	<link rel="apple-touch-icon" sizes="152x152" href={ siteURL(basePath, "/favicon/apple-touch-icon-152x152.png") }/>
	<link rel="apple-touch-icon" sizes="167x167" href={ siteURL(basePath, "/favicon/apple-touch-icon-167x167.png") }/>
	<link rel="apple-touch-icon" sizes="180x180" href={ siteURL(basePath, "/favicon/apple-touch-icon-180x180.png") }/>
}
